extends demo-template.pug
block dotStylesLink
    link(rel="stylesheet", href=`https://cdn.jsdelivr.net/gh/web-projects-lab/hover-slider@${programVersion}/hover-slider-indicator.css`)
block libraryScript
    script(src=`https://cdn.jsdelivr.net/gh/web-projects-lab/hover-slider@${programVersion}/hover-slider.min.js`)
